*{
    padding: 0;
    margin: 0;
    text-decoration: none;
   font-family: 'Popins',sans-serif;
}
body{
    height: auto;
    width: 100%;
}

.info{
    height: 100vh;
    width: 100%;
    text-align: center;
    background: linear-gradient(90deg,black,rgb(34, 9, 9));
}
.topnav{
    height: 60px;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    position: fixed;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content:space-between;
    border: none;
    overflow: hidden;
    z-index: 1;
}
.topnav .links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
 animation: bottom 3s ease-in-out 0s 1 forwards ;

}
@keyframes bottom {
    from{
        opacity: 0;
        transform: translateY(100%);
    }to{
        opacity: 1;
        transform: translateY(0%);
        
    }
    
}
.topnav h1{
    color: white;
    animation: top 3s ease-in-out 0s 1 forwards ;
    position: relative;
}

@keyframes top {
    from{
        opacity: 0;
        transform: translateX(-50%);
    }to{
        opacity: 1;
        transform: translateX(0%);
    }
    
}
.topnav span{
    color: red;
}
.topnav .links a{
    height: 40px;
    width: 70px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    transition:  0.3s;
    

}
.topnav .links a:hover{
    cursor: pointer;
    color: rgb(255, 0, 0);
}
.topnav .links a:first-child{
    color: rgb(255, 255, 255);
    transition: 0.5s;
    background: transparent;
      animation: home 3s ease-in-out 3s 1 forwards ;
}
@keyframes home {
    from{
        background: transparent;

    }
    to{
        background-color: red;
    }
    
}
.topnav .links a:first-child:hover{
    color: rgb(0, 0, 0);
    
}
.h1 span{
    color: red;
}
.h1{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 20px;
    color: aliceblue;
    font-size: 60px;
}
.h1 h1{
    animation: in 3s ease-in 0s 1 forwards ;
}
@keyframes in {
  from{
    opacity: 0;
    transform: translateZ(-100%);
  }  to{
    opacity: 1;
    transform: translateZ(0%);
  }
}

.h2{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    animation: show 3s ease-in 0s 1 forwards ;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

    
    
}
@keyframes show {
  from{
    opacity: 0;
    transform: translateX(-50%);
    
  }  to{
    opacity: 1;
    transform: translateX(0%);
    
  }
}
.card{
    height: 500px;
    width:100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    flex-direction: column;
    color: white;
}
.p button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(57, 62, 67);
    transition: 0.5s;
     animation: button 3s ease-in 0s 1 forwards ;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

    
    

.p button:hover{
    cursor: pointer;
    background-color:  rgb(255, 0, 0);
    color: white;
}
.card img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    animation: image 3s ease-in-out 0s 1 forwards ;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    position: relative;
}
@keyframes image {
    from{
        transform: scale(0.1);
        opacity: 50%;      
    }to{
        transform: scale(1);
        opacity: 100%;
    }
    
}
.card p{
    color: rgb(255, 255, 255);
    text-align: center;
}
.p p{
    animation: boom 3s ease-in 0s 1 forwards ;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
    

}
.p{
    padding:60px 20px;
    max-width:900px;
    margin:auto;
    text-align:center;
    line-height:1.8;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes boom {
    from{
        opacity: 0;
        transform: translateZ(-100%);
        filter: blur(20px);
    }
    to{
        opacity: 1;
        transform: translateZ(0%);
        filter: blur(0px);
    }
    70%,60%{
        filter: blur(20px);
    }
    
}


h1{
    text-align: center;
}

.drinks-sold-examples{
    height: auto;
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap; 
   background-color: rgb(21, 17, 17);
   color: white;
   padding: 10px;
}
.drinks-sold h2{
 font-size: 40px;
 color: rgb(255, 255, 255);
 text-align: center;   
}
.drinks-sold {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
 .card-one{
    height:auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(21, 17, 17);
    padding: 20px;
}

.space{
    height: 400px;
    width: 250px;
    background-color : black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    gap:40px;
    padding: 20px;
    transition: 0.5s;
}
.space:hover{
    transform: translateY(-20px);
}
.title{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap:15px;
    background: transparent;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px;
}
.title button{
    height: 40px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: 0.5s;
}
.title button:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 2px solid white;
}
.title span{
    color: rgb(255, 0, 0);
}
.final-card{
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-image: url(selanyumbaino.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.final-card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(90deg,black,red );
    opacity: 50%;
}
.bottom-nav{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px black;
    
}
.bottom-nav .link{
    display: flex;
    gap: 40px;
    font-size: 30px;
    font-weight: 100;
    
}
.bottom-nav .link a{
    background: transparent;
    height: 50px;
    width: 120px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.bottom-nav .link a:nth-child(1){
    background-color: white;
    height: 50px;
    width: 120px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: 0.5s;
}
.bottom-nav .link a:nth-child(1):hover{
    transform: translateY(-20px);
}
.bottom-nav .link a:hover{
    color: black;
}
.bottom-nav .link a ion-icon{
    color: red;
    font-size: 35px;
    transition: 0.5s;
}
.bottom-nav .link a ion-icon:hover{
    color: rgb(255, 255, 255);
}
.footer{
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: black;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}